/**fonts */
@font-face {
  font-family: jost;
  src: url(../fonts/Jost/Jost-VariableFont_wght.ttf);
}

@font-face {
  font-family: serif-display;
  src: url(../fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf);
}
/* root */

:root {
  --orange: #cda274;
  --button: #292f36;
  --black: #222;
  --white: #fff;
  --light-white: #f4f0ec;
  --light-black: #666;
  --light-bg: rgba(0, 0, 0, 0.7);
  --dark-bg: #00000099;
  --border: #e7e7e7;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
/** default settings */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  transition: all 0.4s cubic-bezier(0.43, 1.1, 0.62, 1.08);
  text-transform: capitalize;
  scroll-behavior: smooth;
  list-style: none;
}

/* header style */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--white);
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
}

.header .nav a {
  font-size: 16px;
  margin-left: 2rem;
  color: var(--light-black);
  font-family: jost;
}

.header .nav a:hover {
  color: var(--orange);
}
#nav {
  position: fixed;
  top: 0;
  right: 0;
  list-style: none;
  left: 0;
  display: flex;
  justify-content: space-around;
  background-color: var(--white);
  z-index: 444;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger {
  cursor: pointer;
  display: none;
}

.burger div {
  height: 3px;
  width: 25px;
  background-color: var(--orange);
  margin: 5px;
  transition: transform 0.5s ease-in;
}

.nav-active {
  transform: translate(0);
}
.nav-active.burger div {
  background: var(--black);
}

/* nav Animation  */

@keyframes navLinkMove {
  from {
    opacity: 1;
    transform: translateX(90px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}

.toggle .line-1 {
  background: var(--light-black);

  transform: rotate(-45deg) translate(-0.8px, 5px);
}

.toggle .line-2 {
  display: none;
}

.toggle .line-3 {
  background: var(--light-black);

  transform: rotate(45deg) translate(0.8px, -5px);
}

/* img section style */

.img-section .heading-img img {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  height: 120vh;
  object-fit: cover;
}
/* heading area */

.heading-area {
  margin-top: 12rem;
}

/* heading text */

.heading-text {
  font-family: "Serif-Display";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  letter-spacing: 0.22px;
  color: var(--black);
  width: 60%;
}
.central-text {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  width: 60%;
  letter-spacing: 0.22px;
  color: var(--black);
}

/* down btn */
.down-btn {
  background: var(--button);
  border: 2px solid var(--button);
  border-radius: 18px;
  position: relative;
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height, or 150% */

  letter-spacing: 0.72px;
  width: 207px;
  padding: 1rem;
  margin-top: 2rem;
  color: var(--white);
  cursor: pointer;
}
.down-btn p {
  z-index: 2;
}
.heading-right-icon {
  display: flex;
  justify-content: flex-end;
  height: 40px;
  position: absolute;
  top: 4px;
  right: 0;
  z-index: 1;
}

.heading-right-icon::-webkit-scrollbar {
  width: 0rem;
}
.down-btn:hover .heading-right-icon {
  position: absolute;
  right: -5px;
}

/* flex info section style */

.row-info {
  display: flex;
  justify-content: space-between;
  margin: 7rem auto;
}
.col {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.col-theme {
  font-family: "Serif-Display", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 39px;
  /* identical to box height, or 156% */

  text-align: center;
  letter-spacing: 0.22px;

  color: var(--button);
}
.col-text {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  /* or 150% */
  padding: 5px 1rem;
  text-align: center;
  letter-spacing: 0.22px;

  color: var(--light-black);
}
.col-link {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 33px;
  /* or 150% */

  text-align: center;
  letter-spacing: 0.22px;
  width: 50%;
  margin: 1rem auto;
  display: flex;
  text-align: center;
  justify-content: center;
  color: var(--light-black);
  align-items: center;
  position: relative;
}
.col-link:hover {
  text-decoration: underline;
  cursor: pointer;
}
.col-link:hover .fa-arrow-right {
  right: 0px;
}

.fa-arrow-right {
  position: absolute;
  color: var(--orange);
  top: 4px;
  right: 5px;
}

/* tackle section style */

.row-tackle {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.col-tackle {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.tackle-heading {
  font-family: "Serif-Display";
  font-style: normal;
  font-weight: 600;
  font-size: 50px;

  /* or 130% */

  letter-spacing: 0.22px;

  color: var(--black);
}

.tackle-theme {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  padding: 15px 6rem 0 0;
  letter-spacing: 0.22px;
  margin: 1rem auto;
  color: var(--light-black);
}

/* tackle contact */
.tackle-contact {
  display: flex;
  justify-content: space-between;
  width: 40%;
}
.tackle-phone-icon {
  background: var(--light-white);
  color: var(--orange);
  border-radius: 50%;
  height: auto;
}
.fa-phone {
  padding: 1rem;
  font-size: 30px;
}
.tackle-phone-icon:hover .fa-phone {
  transform: rotate(-50deg);
  cursor: pointer;
}
.tackle-phone-icon::-webkit-scrollbar {
  width: 0rem;
}
.tackle-info {
  display: flex;
  flex-direction: column;
}
.tackle-number,
.tackle-call-theme {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 150% */

  letter-spacing: 0.22px;

  color: var(--light-black);
}

/* ======== ==== == = = = == = about style */

.about {
  background-color: var(--light-white);
  border-radius: 70px;
  margin: 5rem auto;
}
.about-theme {
  font-family: "Serif-Display";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;

  /* identical to box height, or 130% */

  text-align: center;
  letter-spacing: 0.22px;
  text-align: center;
  color: var(--black);
  margin: 3rem auto;
  width: 40%;
}
.about-row {
  display: flex;
  justify-content: space-around;
}

.about-col {
  display: flex;
  flex-direction: column;
  width: 30%;
  background: var(--white);
  padding: 40px;
  margin: 2rem auto 6rem;
  border-radius: 17px;
}

.user-theme {
  display: flex;
  justify-content: space-around;
}

.user-theme img {
  border-radius: 50%;
  width: 77px;
  height: 77px;
}
.user-info {
  display: flex;
  flex-direction: column;
}
.user-info .username {
  font-family: "Serif-Display";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 38px;
  /* identical to box height, or 150% */

  letter-spacing: 0.22px;

  color: var(--black);
}

.user-info .user-location {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height, or 150% */

  letter-spacing: 0.22px;

  color: var(--light-black);
}

.user-heading {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */
  text-align: center;
  padding: 2rem 1rem;
  letter-spacing: 0.22px;

  color: #4d5053;
}

/* sponsors */

.sponsors {
  margin: 2rem auto;
}
.sponsors-row {
  display: flex;
  justify-content: space-between;
}
.sponsors-col {
  cursor: pointer;
}

/* recently projects style */

.recently-projects {
  margin: 2rem auto;
}
.recently-projects p {
  font-family: "Serif-Display";
  font-style: bold;
  font-weight: 400;
  font-size: 47px;

  /* identical to box height, or 133% */

  text-align: center;
  letter-spacing: 0.22px;

  color: var(--black);
}
.recently-heading {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height, or 150% */

  text-align: center;
  letter-spacing: 0.22px;
  color: var(--light-black);
}

.recently-row {
  display: flex;
  justify-content: space-between;
}

.recently-row .recently-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem;
}
.recently-row .recently-col .room {
  display: flex;
  justify-content: space-between;
}
.recently-row .recently-col .room-info {
  display: flex;
  flex-direction: column;
}

.recently-row .recently-col img {
  width: 100%;
}
.room .room-info .room-info-theme {
  font-family: "Serif-Display";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  /* identical to box height, or 156% */

  letter-spacing: 0.22px;

  color: var(--black);
}

.room .room-info .room-info-type {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height, or 150% */

  letter-spacing: 0.22px;

  color: var(--light-black);
}

.room-icon .fa-angle-right {
  display: flex;
  color: var(--orange);
  background: var(--light-white);
  padding: 1rem 1.3rem;
  margin: 1rem;
  border-radius: 50%;
  cursor: pointer;
  font-size: 22px;
  width: 55px;
  height: 55px;
}
.room-icon:hover .fa-angle-right {
  transform: rotate(360deg);
  transform: rotate3d(360deg);
}

/* numeric styles */

.numeric {
  display: flex;
  background: var(--light-white);
}
.numeric-row {
  display: flex;
  justify-content: space-between;
}
.numeric-col {
  text-align: center;
  margin: 5rem auto;
  padding: 1rem 3rem;
}
.numeric-col:not(:last-child) {
  border-right: 1px solid var(--orange);
}
.numeric-col .numeric-col-year {
  font-family: "Serif-Display";
  font-style: normal;
  font-weight: 400;
  font-size: 85px;
  line-height: 128px;
  /* identical to box height, or 150% */

  text-align: center;
  letter-spacing: 1.7px;

  color: var(--orange);
}
.numeric-col .numeric-col-theme {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height, or 150% */

  text-align: center;
  letter-spacing: 0.22px;

  color: var(--light-black);
}

/*! recent blogs */

.recently-blogs {
  text-align: center;
}
.recently-blogs-theme {
  font-family: "Serif-Display";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;

  /* identical to box height, or 130% */

  text-align: center;
  letter-spacing: 0.22px;
  margin: 2rem;
  color: var(--black);
}

.recently-blogs-heading {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height, or 150% */

  text-align: center;
  letter-spacing: 0.22px;
  width: 60%;
  margin: 0 auto;
  color: var(--light-black);
}

.recently-blogs-row {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}
.recently-blogs-col {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border);
  border-radius: 40px;
  padding: 10px;
  margin: 10px;
  height: 100%;
}

.recently-col-heading {
  font-family: "Serif-Display";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 35px;
  /* or 140% */

  letter-spacing: 0.5px;

  color: var(--black);
}
.recently-blogs-col-img {
  transition: all 0.5s linear;
  position: relative;
  overflow: hidden;
  border-radius: 40px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.recently-blogs-col-img img {
  height: 300px;
  transition: all 0.5s linear;
}
.recently-blogs-col-img .recently-blogs-col-img-theme {
  background-color: var(--white);
  border-radius: 20px;
  position: absolute;
  bottom: 20px;
  padding: 20px 30px;
  left: 20px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  color: var(--light-black);
  border-bottom-left-radius: 0px;
  letter-spacing: 0.22px;
  visibility: hidden;
}
.recently-blogs-col-img img:hover {
  transform: scale(1.1);
  overflow: hidden;
  cursor: pointer;
  border-radius: 40px;
}
.recently-blogs-col-img:hover .recently-blogs-col-img-theme {
  /* background-color: var(--orange); */
  border-radius: 20px;
  position: absolute;
  bottom: 30px;
  padding: 20px 30px;
  left: 20px;
  border-bottom-left-radius: 0px;
  visibility: visible;
  transition: all 0.2s linear;
}

.recently-col-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recently-col-footer-date {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  letter-spacing: 0.22px;

  color: var(--light-black);
}

/* wanna section style */
.wanna {
  background: #292f36;
  border-radius: 70px;
  margin: 2rem;
  padding: 2rem;
  text-align: center;
}
.wanna-theme {
  font-family: "Serif-Display";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 75px;
  /* identical to box height, or 150% */

  text-align: center;
  letter-spacing: 0.22px;

  color: var(--white);
}

.wanna-content {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height, or 150% */

  text-align: center;
  letter-spacing: 0.22px;
  margin: 1rem;
  color: var(--white);
}

.wanna-btn {
  background: var(--orange);
  border: 2px solid #cda274;
  box-shadow: 1px 0px 18px rgba(0, 0, 0, 0.2);
  border-radius: 18px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0.22px;
  margin: 1rem;
  color: var(--white);
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-col {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.footer-col-theme {
  font-family: "Serif-Display";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;

  /* identical to box height, or 150% */

  letter-spacing: 0.22px;

  color: var(--black);
}

.footer-col a,
.footer-logo-info {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  /* identical to box height, or 150% */

  letter-spacing: 0.22px;

  color: var(--light-black);
}
.footer-col a:hover {
  text-decoration: underline;
}

.footer-icons {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.footer .down-section {
  border-top: 1px solid var(--border);
  margin: 1rem;
  padding: 1rem;
}
.footer .down-section p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height, or 150% */

  text-align: center;
  letter-spacing: 0.22px;

  color: var(--light-black);
}

.footer .down-section span {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height, or 150% */

  text-align: center;
  letter-spacing: 0.22px;
  cursor: pointer;
  color: var(--orange);
}

/*  */

@media (min-width: 0px) and (max-width: 786px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0;
    height: 100vh;
    top: 6vh;
    z-index: 10;
    background-color: var(--light-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    text-decoration: none;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
  }
  .nav-active {
    transform: translate(0);
  }
  .nav-links li {
    opacity: 0;
    list-style: none;
  }
  .nav-links li a {
    color: var(--black);
  }
  .burger {
    display: block;
    margin: 1rem;
  }
  .burger div {
    background: var(--orange);
  }
  .heading-text {
    font-size: 40px;
    width: 60%;
  }
  .img-section .heading {
    height: 30vh;
  }

  .row-info {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0;
    margin-top: 2rem;
  }

  .row-tackle {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90%;
  }
  .col-tackle {
    width: 90%;
    margin: 2rem auto;
  }
  .tackle-heading {
    font-size: 30px;
    width: 90%;
    margin: 0 auto;
  }
  .tackle-theme {
    font-size: 18px;
    width: 100%;
    margin: 0 auto;
  }

  .about {
    width: 90%;
  }
  .about-theme {
    font-size: 30px;
    width: 80%;
  }
  .about-row {
    display: flex;
    flex-direction: column;
  }
  .about-col {
    width: 90%;
  }
  .sponsors {
    display: none;
  }
  .recently-projects p {
    font-size: 30px;
  }
  .recently-heading {
    width: 90%;
    font-size: 18px;
  }
  .recently-row {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .numeric-row {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .numeric-col:not(:last-child) {
    border-bottom: 1px solid var(--orange);

    border-right: 0px solid var(--orange);
  }

  .recently-blogs-row{
    display: flex;
    flex-direction: column;
    width: 90%; 
  }
  .wanna{
      width: 90%;

  }
  .wanna-theme {
      font-size: 30px;
      width: 60%;
      margin: 2rem auto;
  }
  .wanna-content {
      font-size: 16px;
  }
  .footer {
    text-align: center;
    width: 90%;

  }
  .footer-row {
    display: flex;
    flex-direction: column;
    width: 90%;
    text-align: center;
  }
  .footer-col {
      width: 80%;
  }
  .down-section {
      width: 70%;
      font-size: 14px;
  }
}


@media (min-width: 787px) and (max-width: 1080px) {
    body {
      overflow-x: hidden;
    }
    .nav-links {
      position: absolute;
      right: 0;
      height: 100vh;
      top: 6vh;
      z-index: 10;
      background-color: var(--light-white);
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      text-decoration: none;
      transform: translateX(100%);
      transition: transform 0.5s ease-in-out;
    }
    .nav-active {
      transform: translate(0);
    }
    .nav-links li {
      opacity: 0;
      list-style: none;
    }
    .nav-links li a {
      color: var(--black);
    }
    .burger {
      display: block;
      margin: 1rem;
    }
    .burger div {
      background: var(--orange);
    }
    .heading-text {
      font-size: 40px;
      width: 60%;
    }
    .img-section .heading {
      height: 30vh;
    }
  
    .row-info {
      display: flex;
      justify-content: space-between;
      width: 90%;
      margin: 12rem  auto;
   
    }
  
    .row-tackle {
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 90%;
    }
    .col-tackle {
      width: 90%;
      margin: 2rem auto;
    }
    .tackle-heading {
      font-size: 30px;
      width: 90%;
      margin: 0 auto;
    }
    .tackle-theme {
      font-size: 18px;
      width: 100%;
      margin: 0 auto;
    }
  
    .about {
      width: 90%;
    }
    .about-theme {
      font-size: 30px;
      width: 80%;
    }
    .about-row {
      display: flex;
      flex-direction: column;
    }
    .about-col {
      width: 90%;
    }
    .sponsors {
      display: none;
    }
    .recently-projects p {
      font-size: 30px;
    }
    .recently-heading {
      width: 90%;
      font-size: 18px;
    }
    .recently-row {
      display: flex;
      flex-direction: column;
      width: 90%;
    }
  
    .numeric-row {
      display: flex;
      flex-direction: column;
      width: 90%;
    }
    .numeric-col:not(:last-child) {
      border-bottom: 1px solid var(--orange);
  
      border-right: 0px solid var(--orange);
    }
  
    .recently-blogs-row{
      display: flex;
      flex-direction: column;
      width: 90%; 
    }
    .wanna{
        width: 90%;
  
    }
    .wanna-theme {
        font-size: 30px;
        width: 60%;
        margin: 2rem auto;
    }
    .wanna-content {
        font-size: 16px;
    }
    .footer {
      text-align: center;
      width: 90%;
  
    }
    .footer-row {
      display: flex;
      flex-direction: column;
      width: 90%;
      text-align: center;
    }
    .footer-col {
        width: 80%;
    }
    .down-section {
        width: 70%;
        font-size: 14px;
    }
  }