/**fonts */
@font-face {
  font-family: jost;
  src: url(../fonts/Jost/Jost-VariableFont_wght.ttf);
}

@font-face {
  font-family: serif-display;
  src: url(../fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf);
}
/* root */

:root {
  --orange: #cda274;
  --button: #292f36;
  --black: #222;
  --white: #fff;
  --light-black: #666;
  --light-white: #ccc;
  --light-bg: rgba(0, 0, 0, 0.7);
  --dark-bg: #00000099;
  --border: 0.1rem solid #aaa;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
/** default settings */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  transition: all 0.4s cubic-bezier(0.43, 1.1, 0.62, 1.08);
  text-transform: capitalize;
  overflow-x: hidden;
}

/* header style */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--white);
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
}

.header .logo {
  color: var(--peru);
  padding-right: 0.5rem;
  width: 340px;
  background-color: aqua;
  position: absolute;
  left: 0;
}

.header .nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .nav a {
  font-size: 16px;
  margin-left: 2rem;
  color: var(--light-black);
  font-family: jost;
}

.header .nav a:hover {
  color: var(--orange);
}

/* img section style */
.img-section {
}

.img-section .heading-img img {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}
/* heading area */

.heading-area {
  margin-top: 7rem;
}

/* heading text */

.heading-text {
  font-family: "Serif-Display";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  letter-spacing: 0.22px;
  color: var(--black);
  width: 60%;
}
.central-text {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  width: 60%;
  letter-spacing: 0.22px;
  color: var(--black);
}

/* down btn */
.down-btn {
  background: var(--button);
  border: 2px solid var(--button);
  border-radius: 18px;
    position: relative;
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height, or 150% */

  letter-spacing: 0.72px;
  width: 207px;
  padding: 1rem;
  margin-top: 2rem;
  color: var(--white);
  display: flex;
  justify-content: space-between;
}



